@model SearchViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Search Rank Checker</h1>
    <p>Enter your site url and search terms to see where your site ranks in the search.</p>
</div>

@if (string.IsNullOrEmpty(Model.SearchEngineName))
{
    <!--TODO: Provide dropdown to select the search client -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>No Search Client Selected!</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>You are using <strong>@Model.SearchEngineName</strong></p>
            </div>
        </div>
    </div>

    <form asp-action="SetLanguage" method="post" class="form-horizontal col-12" role="form">
        <div class="form-group">
            <div class="row">
                <label asp-for="SearchRegion" class="col-12 control-label"></label>
                <div class="col-12">
                    <select asp-for="SearchRegion">
                        <option value="en-AU">Australia</option>
                        <option value="en-NZ">New Zealand</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <input type="submit" class="btn btn-primary" value="Set Search Region" />
                </div>
            </div>
        </div>
    </form>

    <partial name="SearchRank" model="new Search()" />
}

@if (!string.IsNullOrEmpty(Model.RankString))
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Search Rank:</h2>
                <p>@Model.RankString</p>
            </div>
        </div>
    </div>
}

